<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <style>
    #header{
    width: 1920px;
    height: 100px;
    background-color: #25B33f;
    margin: 0px;
    }

    #header h1{
    margin-left: 30px;
    margin-top: -60px;
    }
    </style>
</head>
<body>
<div id="header">
    <h1><p align="centre"  style="color:#000000;font-size:60px">
        <a href="/home">  Goldman Sex </a> </p>
        </p>
    </h1>
    <h1 align="right"><p align="centre"  style="color:#000000;font-size:60px; margin-right: 30px; margin-top: -120px">
        <a href="/users_page">  <img src="https://sun9-64.userapi.com/impg/Qk-AiRan_ejXPGUrhwi08eASV6M-8JnaHa4Ndw/X1H08nltgcU.jpg?size=360x360&quality=96&sign=d675066352eb2351f436b793058b304c&type=album"width="70"
                                     height="70" border="0" > </a> </p>
        </p>
    </h1>
</div>
<div class="container mt-5 mb-5">

    <p style="color:#000000;font-size:30px; margin-top: -5px" th:text="'Баланс:'+${name} + ' рублей'"></p>
    <p align="center" style="margin-top: -55px"><input type="button" value="Пополнить счет" size="35" onClick='location.href="/top_up_balance"'/><p/>
    <p align="center"><input type="button" value="Вывести со счета" size="35" onClick='location.href="/withdraw_money"'/> <br><p/>
    <p align="center"><input type="button" value="Изменить процент от прибыли" size="35" onClick='location.href="/change"'/> <br><p/>
    <form th:action="@{/logout}" method="post">
        <p align="right" style="margin-top: -105px"><input type="submit" value="Sign Out"/></p>
    </form>
</div>
</body>
</html>