<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Вывод со счета</title>
  <style>
    body {
      background: url("https://sun9-5.userapi.com/impg/QfnIeISnHipAu-9YFLmcOxzogp5bbo-WMV_4tA/t_QKwT3nzO4.jpg?size=1920x1080&quality=96&sign=3e798fce24fa8b6932394ad11fbf95b0&type=album") no-repeat;
      -moz-background-size: 100%;
      -webkit-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
    }
  </style>
</head>
<body style="background-attachment: fixed" topmargin="0">

<h1><p align="center" style="color:#000000; font-size:40px">Вывод</p></h1>
<div class="container mt-5 mb-5">
  <form  action="#" th:action="@{/withdraw_money}" method="post">"
    <h1><p align="center" style="color:#000000; font-size:20px">Введите номер карты</p></h1>
    <p align="center"><input type="text" name="number"  class="form-control" size="30"><br></p>
    <h1><p align="center" style="color:#000000; font-size:20px">Введите количество средств для вывода</p></h1>
    <p align="center"><input type="text" name="money" class="form-control" size="30"><br></p>
    <p align="center"><input type="submit" value="Submit"  size="35"/>
  </form>
  <p align="center"><input type="button" value="Личный кабинет" onClick='location.href = "/users_page"'></p>
</div>
</body>
</html>